<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="root">
      <p>Cart {{ cart }}</p>

      <product v-bind:is-premium-prop="true" v-on:add-to-cart="updateCart" v-on:remove-from-cart="removeFromCart"></product>

    </div>

    <script>
      Vue.component('product', {
        props: {
          isPremiumProp: {
            type: Boolean,
            required: true
          }
        },
        template: `
          <div>
            <div v-for="product in products">
              {{ product.name }}
              <img v-bind:src="product.image" />

              <button v-on:click="addToCart(product.id)" v-bind:disabled="!isInStock">Add</button>
              <button v-on:click="removeFromCart(product.id)" v-bind:disabled="!isInStock">Remove</button>

            </div>
            {{ title }}
            <br>
            <p v-if="isInStock">In stock</p>
            <p v-else>Out of stock</p>
            <p v-show="isOnSale">On Sale!</p>
            <p v-show="isPremiumProp">Is premium</p>
          </div>
        `,
        data() {
          return {
            brand: "blinks",
            message: "How you like that da da da",
            image: "https://via.placeholder.com/150",
            isInStock: true,
            isOnSale: false,
            isPremium: true,
            selectedProduct: 0,
            details: ["a", "b", "c"],
            products: [
              {
                id: 1,
                name: "one",
                image: "https://via.placeholder.com/150",
                color: "red",
              },
              {
                id: 2,
                name: "two",
                image: "https://via.placeholder.com/250",
                color: "blue"
              },
            ],
          }
        },
        methods: {
          addToCart: function (id) {
            this.$emit('add-to-cart', id)
          },
          removeFromCart: function(id) {
            this.$emit('remove-from-cart', id)
          },
          updateProductImage: function (image) {
            this.image = image
          },
        },
        computed: {
          title() {
            return this.brand + "aaa"
          }
        },
      })

      new Vue({
        el: ".root",
        data: {
          cart: [],
        },
        methods: {
          updateCart: function(id) {
            this.cart.push(id);
          },
          removeFromCart(id) {
            console.log(id)
            this.cart.pop();
          }
        }
      });
    </script>
  </body>
</html>
